$screen-sm: 676px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1300px;
$screen-full: 1400px;

// Colors
$primary: #1b1715;
$primaryDark1: #a9cea6;
$primaryDark2: #a6db8bcb;
$primaryDark3: #4b7525;
$secondary1: #ece5d4;
$secondary2: #eee4c9;
$highlight1: #FFBB0B;
$highlight2: #010101;
$highlight3: #F1F7EE;
$warning: #e3190e;
